body {
    font-family: 'Noto Sans', sans-serif;


}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: #f5f3ff;
    grid-column: 2/4;
    height: 200px;

    display: grid;
    grid-template-columns: 1fr;
}

.user-name {
    font-size: 17px;
    justify-self: start;
    font-family: 'Roboto Slab', serif;

}

.profile-picture{
    width: 60px;
    height:60px;
    border-radius: 40px;
}

.searchy {
    justify-self: start;
}

.fa-magnifying-glass {
    margin-right: 20px;
    justify-self: end;

}

.fa-bell{
    justify-self: center;
}

.searchy{
    width: 400px;
    border-radius: 10px;
}

.top-header {

    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.top-left-header {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 5px;
}

.top-right-header {
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.bottom-header {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.bottom-left-header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-right-header {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    width: 100px;
    height: 50px;
    background-color: #8b5cf6;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
}

button:hover{
    background-color: #7c3aed;
}
button:active{
    background-color: #6d28d9;
    width: 98px;
    height: 48px;
}

.new{
    justify-self: end;
}

.share{
    justify-self: start;
}

.upload{
    justify-self: center;
}













.sidebar {
    background-color: #7c3aed;
    display: flex;
    flex-direction: column;
    grid-row: 1/4;
    padding: 5px;
}



.sidebar-duo {
    display: flex;
    flex-direction: row;
}

.sidebar-duo:hover{
    background-color: #9333ea;
    /*
    box-shadow: 5px 10px #9333ea;
    */
    border: 2px solid black;
}

.sidebar-duo:hover .um{
   color: black;
    /*
    box-shadow: 5px 10px #9333ea;
    */
}

.sidebar-duo:hover .fa-solid{
    color: black;
}

.sidebar-duo:hover .fa-regular{
    color: black;
}

.sidebar-duo-dash{
    display: flex;
    flex-direction: row;
}

.um:link{
    text-decoration: none;
}

.fa-computer{
    position: relative;
    color: white;
    top: 30px;
}

.fa-house {
    position: relative;
    color: white;
    top: 30px;
}

.fa-user {
    position: relative;
    color: white;
    top: 30px;
}

.fa-message {
    position: relative;
    color: white;
    top: 30px;
}

.fa-clock-rotate-left {
    position: relative;
    color: white;
    top: 30px;
}


.dash-logo {
    font-size: 30px;
    color: white;
}

.settings {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.setting {
    height: 50px;
    width: 100px;
    color: white;
    margin: 20px;
    text-decoration: none;
}

.setting:hover{
    color: black;
}

.um {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin: 20px;
    color: white;
    align-self: center;
}





.main-body {
    display: grid;
    grid-template-columns: 2fr 1fr;

    background-color: #c4b5fd;

}

.my-projects {
    background-color: #c4b5fd;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);

}

.main-body-left {
    display: grid;
    grid-row: 1fr 1fr;
    margin-right: 10px;
}



.announcment {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius:10px ;
}

.announce-head {
    font-size: 15px;
    margin-left: 10px;
}

.announce-info {
    font-size: 11px;
    margin-left: 10px;
}

.project {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.project-header {
    margin-left: 10px;
}

.project-info {
    margin: 10px;

}


.social-logo{
    width: 60;
    height: 60;
    border-radius: 40px;
    margin-right: 4px;
    margin: ;
}

.trend{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 7px;
}

.social{
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.small-link-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    gap: 4px;
}

